#table{
    border :2px solid black;
    height: 100%;
        width: 30%;
        background-color:pink;
    }
    input[type="button"]
    {
    border-radius: 10px;
    background-color:palevioletred;
    color: black;
    border-color:black ;
    width:100%;
    }
    input[type="text"]
    {
        width: 30%;
        background-color:silver;
        text-align: right;
    }
    #tr{
        height: 100px;
        width: 100px;
        align-content: center;
    }
    #td{
        height: 100px;
        width: 100px;
        align-content: center;
    }